
nav {
    background-color: #eee;
    height: 100px;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;

        a {
            display: block;
            background-color: #999;
            padding: 10px;
            text-decoration: none;
            color: #fff;
        }
    }


}

/*GRUPO DE PROPRIEDADES*/

%fundamento-msg {
    padding: 10px;
    font-size: 24px;
    border: 2px solid #ccc;
    margin: auto;
    margin-top: 10px;
    max-width: 300px;
}

.msg-info {
    @extend %fundamento-msg;
    border-color: #0000ff;
    color: #0000ff;

}

.msg-aviso {
    @extend %fundamento-msg;
    border-color: #ff0000;
    color: #ff0000;

}

.msg-sucesso {
    @extend %fundamento-msg;
    border-color: #00ff00;
    color: #00ff00;

}



