

.botao {
    background-color: #ff0000;
    color: #fff;
    border: 0;
    padding: 20px;
}

.galeria, .flip, .flash {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.galeria {
    background-image: url('../images/gallery.png');
}

.flash {
    background-image: url('../images/camera-flash.png');
}

.flip {
    background-image: url('../images/camera.png');
}